# Dados processados
data/processed/

# Dados brutos
Bases/

# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Temporários
*.tmp

# Sistema
.DS_Store
Thumbs.db